<!doctype html>
<html lang="en" ng-app="chessdbApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="../vendors/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="GameListCtrl">
    Sort by:
    <select ng-model="gameOrder">
        <option value="id">Id</option>
        <option value="date">Date</option>
    </select>
    <ul>
    <li ng-repeat="game in games | orderBy:gameOrder">
      {{game.date}}: {{game.white}} - {{game.black}}
    </li>
  </ul>
</body>
</html>